*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    min-height: 100vh;
    color: #555;
    background-color: #fff;
}
.container{
    height: auto;
    margin: 15px 15px;
    width: 683px;
    padding: 20px;
    border: 1px solid rgb(200, 191, 191);
    display: flex;
    flex-direction: row;
    position: relative;
    left: 591px;
    border-radius: 10px;
    /* justify-content: center; */
}
.chart{
    max-width: 900px;
    height: 450px;
    padding: 50px;
    margin: 0 auto;

}

.chart .chart_types{
    text-align: center;
    margin-bottom: 30px;
}

.chart .chart_types button{
    padding: 10px 25px;
}

.form-container {
    max-width: 400px;
    width: 250px;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
    /* top: -89px; */
}



#budget-text{

    font-weight: bold;
}
.form-container input[type="number"] {
    width: 5rem;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-container label {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;

    border-radius: 5px;
}
.form-container .input-group{
    display: flex;
    flex-direction: row;
}

.form-container input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.form-container input[type="submit"]:hover {
    background-color: #45a049;
}

/* Small devices (phones, 576px and below) */
@media only screen and (max-width: 576px) {
    .container{
        height: auto;
        /* margin: 15px 15px; */
        width: 346px;
        /* padding: 20px; */
        border: 1px solid rgb(200, 191, 191);
        display: flex;
        flex-direction: column;
        position: relative;
        left: 0px;
        border-radius: 10px;
        /* justify-content: center; */
    }
    .chart {
        max-width: 900px;
        height: 450px;
        width: 374px;
        padding: 50px;
        margin: 0 auto;
        position: relative;
        left: -43px;
    }
}

/* Medium devices (tablets, 768px and below) */
@media only screen and (max-width: 768px) {
  
}

/* Large devices (desktops, 992px and below) */
@media only screen and (max-width: 992px) {
   
}

/* Extra large devices (large desktops, 1200px and below) */
@media only screen and (max-width: 1200px) {
    
}

/* Extra small devices (phones, 576px and below) */
@media only screen and (max-width: 576px) {
    /* Add styles specific to extra small devices */
}

/* Small devices (landscape phones, 576px and below) */
@media only screen and (max-width: 576px) and (orientation: landscape) {
    /* Add styles specific to small landscape devices */
}

/* Medium devices (tablets, 768px and below) */
@media only screen and (max-width: 768px) {
    /* Add styles specific to medium devices */
}

/* Large devices (desktops, 992px and below) */
@media only screen and (max-width: 992px) {
    /* Add styles specific to large devices */
}

/* Extra large devices (large desktops, 1200px and below) */
@media only screen and (max-width: 1200px) {
    /* Add styles specific to extra large devices */
}